*.dcu
*.~*
*.local
*.identcache
__history
*.drc
*.map
*.exe
*.dll
*.elf
bin/*
win32/*
*.plist
*.vlb
*.pas.cbk
dunit.ini
*.deployproj
*.tvsconfig
OSX32/*
iOSDevice/*
Android/*
/DataAccess/FireDAC SkillSprints/02_Tracing_Monitoring/Win32/Debug/trace.txt
